NEXT_PUBLIC_CHAIN_ID=196
NEXT_PUBLIC_RPC_URL=https://rpc.xlayer.tech
NEXT_PUBLIC_EXPLORER_URL=https://www.oklink.com/xlayer
NEXT_PUBLIC_USDC_ADDRESS=0x74b7F16337b8972027F6196A17a631aC6dE26d22
NEXT_PUBLIC_FACTORY_ADDRESS=

# Server only
API_FOOTBALL_KEY=
ANTHROPIC_API_KEY=

# Deploy (Foundry)
DEPLOYER_PRIVATE_KEY=
TREASURY_ADDRESS=
CURATOR_ADDRESS=
RESOLVER_ADDRESS=
